{
    "SECRET": "YOUR-SECRET",
    "URL": "http://localhost:3000/",
    "IMAGE": "/static/img/image.png",
    "DESCRIPTION": "Project description",
    "NAME": "Project name",
    "EMAIL": "email@server.com",
    "LOCALES": "en es ca",
    "DEFAULT_LOCALE": "en"
}