//Variables
$positive: #fff;
$negative: #000;
$link: #3079ed;
$block: #eee;

//Modules
@import '../web_modules/font-awesome/scss/font-awesome';
@import 'mixins';
@import 'animations';
@import 'utilities/normalize';
@import 'utilities/justified-gallery';

//Pages
@import 'pages/home';
@import 'pages/select';
@import 'pages/show';
@import 'pages/about';

//Fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,700,800);

body {
    font-family: 'Montserrat', sans-serif;
}


header.main {
    background: $negative;
    padding: 1rem;
    h1 {
        margin: 0;
        img {
            height: 60px;
        }
    }
}