{{> header}}
<article class="about">
    <div class="content">
        <h1>Concept</h1>
        <p>An interface where language is no longer a barrier and where we can express ourself in the most basic form, with images. As underlying theme we use emojis representing the basic emotions of all human beings. The result is a contrast of worlds and a window into the different realities.</p>
        <h1>Credits</h1>
        <ul>
            <li><a href="https://twitter.com/mena1791">Jimena Tormo Baldassarre</a></li>
            <li><a href="https://twitter.com/soymagenta">Jessica Peña Avilés</a></li>
            <li><a href="https://twitter.com/jordie_mbm">Jordie Montevecchi</a></li>
            <li><a href="https://twitter.com/bertez">Berto Yáñez</a></li>
        </ul>

        <h1>Content attribution:</h1>

        <ul>
        <li>A Sushi Story: <a href="https://vimeo.com/58345989">https://vimeo.com/58345989</a></li>
        <li>Feliz Dia dos Namorados!  <a href="">https://vimeo.com/130548156</a></li>
        <li>Publicis - Love the change. Lead the change:  <a href="">https://vimeo.com/144631477</a></li>
        <li>New York Times - Modern Love: <a href="">https://vimeo.com/97748157</a></li>
        <li>The Darkest Truth About Love: <a href="">https://vimeo.com/121359776</a></li>
        <li>Avicii, Martin Garrix & Simon Aldred - Waiting For Love: <a href="">https://vimeo.com/128854863</a></li>
        <li>I love Japan- TIMELAPSE: <a href="">https://vimeo.com/23131638</a></li>
        <li>“GEBRI” animation test: <a href="">https://vimeo.com/37516892</a></li>
        <li>Hablemos sin entender: <a href="">https://vimeo.com/145336414</a> </li>
        <li>The Story of Animation: <a href="">https://vimeo.com/37445157</a></li>
        <li>A Toy Love Story That Will Make You Cry: <a href="">https://vimeo.com/34512434</a></li>
        <li>MeanMug ‘n Slim: The Breakup: <a href="">https://vimeo.com/74603089</a></li>
        <li>Babycakes. Nominated for The Limelight Film Awards 2015: <a href="">https://vimeo.com/67424480</a></li>
        <li>Premonition: <a href="">https://vimeo.com/139569719</a></li>
        <li>VILTIS: <a href="">https://vimeo.com/21461088</a></li>
        <li>PRAISE - MUTA: <a href="">https://vimeo.com/118834363</a></li>
        <li>CGI Stop Motion Animated Short HD: "Goutte d'Or" - by Happy Flyfish/ExFools: <a href="">https://www.youtube.com/watch?v=htC3GEdMV3E</a></li>
        <li>TOBUSCUS ADVENTURES: Happy Thanksgiving!!! (Stop Motion Animation):  <a href="">https://www.youtube.com/watch?v=XXBYn5Pwzwc</a></li>
        <li>Feature Animation Reel 2011:  <a href="">https://vimeo.com/33713125</a></li>
        </ul>

    </div>
</article>
